.main__header{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 3rem;
}
.main__header-container{
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 6rem;

}
.main__header-left{
    margin-top: -3rem;
}
.main__header-left h4{
    margin-bottom: 1rem;
    font-weight: 400;
    color: var(--color-secondary);
}
.main__header-left p{
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}
.main__header-right{
    display: grid;
    place-items: center;
    position: relative;
}
.main__header-circle{
    width: 25rem;
    height: 25rem;
    background: linear-gradient(360deg, white,transparent);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    filter: blur(20px);
}


.programs{
    margin-top: 4rem;

}
.programs__wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    margin-top: 4rem;
}

.programs__program a{
  display: flex;
  margin-top: 2.5rem;
  align-items: center;
  justify-content: center;
}

.programs__program:hover a{
    background-color: var(--color-secondary);
    color: var(--color-gray-600);
}



.values__container{
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
}

.values__image{
    filter: saturate(0.25);
    transition: var(--transition);
    width: 450px;
    margin-top: 200px;
    overflow: hidden;
}

.values__image:hover{
    filter: saturate(1);
}



.values__right>p{
    margin: 1.5rem 0 5rem;

}
.values__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
}

.card.values__value{
    padding-top: 3.5rem;
    text-align: left;
    position: relative;
}

.card.values__value span{
    position: absolute;
    top:-1.5rem
}

footer{
    background: var(--color-primary);
    margin-top: 7rem;
    padding-top: 7rem;
    font-size: 0.9rem;
    color: var(--color-gray-100);

}

.footer__container{
    display: grid;
    grid-template-columns: 26rem 1fr 1fr 1fr;
    gap: 6rem;
}

.footer__container article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

.footer__container article p{
    margin-top: 0.5rem;
}

.footer__container article h4{
    margin-bottom: 0.6rem;
    font-size: 1rem;
}

.footer__socials{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.footer__socials a{
    background: var(--color-gray-100);
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.6rem;
    transition: var(--transition);
}

.footer__socials a svg{
    color: var(--color-gray-600);
}
.footer__socials a:hover{
    border-color: var(--color-gray-100);
    background: transparent;
}
.footer__copyright{
    text-align: center;
    color: var(--color-gray-100);
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-primary-variant);
    margin-top: 5rem;
}

.permalinks:hover{
    color: var(--color-secondary);
    font-size: medium;
}

.GetTouch:hover{
    color: var(--color-secondary);
    font-size: medium;
}

.insights:hover{
    color: var(--color-secondary);
    font-size: medium;
}



@media screen and (max-width : 1024px){
    .main__header{
        height: fit-content;
        padding: 12rem 0;
    }

    .main__header-container{
        gap: 0;
    }
    .main__header-circle{
        width: 16rem;
        height: 16rem;
    }

    .programs__wrapper{
        grid-template-columns: 1fr 1fr;
    }

    .values__container{
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 4rem;
    }

    .values__wrapper{
        gap: 4rem 3rem;

    }
    .values__image{
        display: none;
    }

    .footer__container{
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

@media screen and (max-width: 600px){
    .main__header{
        margin-top: 0;
        padding: 12rem 0 0;
        height: 100vh;
    }
    .main__header-image, .main__header-circle{
        display: none;
    }

    .main__header-container{
        grid-template-columns: 1fr;
    }

    .programs__wrapper{
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 3rem;
    }

    .programs__program{
        grid-template-columns: 1fr;
        width: 84%;
        margin: 0 auto;
    }

    .values__wrapper{
        grid-template-columns: 1fr;
        gap: 3rem;

    }
    .card.values__value{
        width: 84%;
        margin-inline: auto;
    }

    footer{
        margin-top: 7rem;
    }

    .footer__container{
        grid-template-columns: 1fr;
        gap: 3rem;

    }
    .footer__container article{
        align-items: center;
    }
    
    .footer__container article p{
        text-align: center;
    }
}