nav{
    height: 5rem;
    width: 100vw;
    background: var(--color-primary);
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    place-items: center;
    z-index: 99;
}

.nav__togglebtn{
    display: none;

}

.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    width: 5rem;
    display: block;
    
    
}
.nav_links{
    display: flex;
    gap: 3.5rem;
    align-items: center;
}
.nav_links a{
    transition: var(--transition);
}
.nav_links a:hover{
 color: var(--color-secondary);
 background-color: brown;
}
.active-nav{
    position: relative;
}
.active-nav::after{
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-primary);
    position: absolute;
    left: calc(50%-0.6rem);
    transform: rotate(45deg);
    margin-top: 0.9rem;
}

/* Media queries*/
@media screen and (max-width: 1024px){

    .nav__togglebtn{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav__togglebtn svg{
        color:var(--color-grey-100);
    }

    .nav_links{
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
    }
    .active-nav,.active-nav::after{
        display: none;
    }
    .nav_links li{
        height: 4rem;
        width: 100%;
        box-shadow: -2rem 2rem 5rem rgba(0,0,0,0.4);

    }

    .nav_links li a{
         background-color: var(--color-primary);
         height: 100%;
         width: 100%;
         display: flex;
         align-items: center;
         padding: 1rem 5rem 1rem 3rem;
    }
    .nav_links li a :hover{
       color: var(--color-secondary);
    }
    .showNav{
        display: flex;
    }
    .hideNav{
        display: none;
    }
}